.mundell {margin:auto;background-color: rgb(252,227,255); width:770px}
.division1 {font-family: arial; font-size: 20pt; text-align:center}
.original {color:black; background-color: white; margin:auto}
.auto-style1 {text-align: center;}
.centered {text-align: center;margin:auto}
img {width: 350px; height; 265px}
h1 {text-align:center}
body{background-color: rgb(252,227,255)}
table {margin:auto; width:1000px }
a{text-decoration:none}
a:link{color:blue}
a:hover{color: cyan}
		